*{
    font-family: 'Lustria', serif;
}

.card{
    margin: 20px;
    box-shadow: 0px 0px 2px 3px #ccac7e;
}
.card-img-top{
    border-radius: 10px;
}
.nav-link{
    color: #D98E04 !important;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #353b40
    
}
.nav-link:hover{
    color: #d98e04bd !important;
}
.form-switch .form-check-input {
    background-color: #D98E04 !important;
}


.form-check-input:focus {
    border-color: #d98e04bd!important;
    box-shadow: none !important;
}

html{
    scroll-behavior: smooth;
}
.form-switch .form-check-input:focus {
    --bs-form-switch-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e)!important;
}
